{% extends "base.html.twig" %}

{% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src="{{relative_path}}assets/js/shCore.js"></script>
     <script type="text/javascript" src="{{relative_path}}assets/js/shBrushPhp.js"></script>
{% endblock %}
     
{% block stylesheets %}
     {{ parent() }}
     <link href="{{relative_path}}assets/css/shCore.css" rel="stylesheet" type="text/css" />
     <link href="{{relative_path}}assets/css/shThemeEclipse.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block sidebar %}
    <ul class="namespaces">
    {% for item in namespaces %}
            {% set cleanNs = item|replace({"\\" : "."}) %}
            {% set nsUrl = "#{cleanNs|lower}.#{meta.fileExt}" %}
            {% if tmp.ns != item %}
                <li><a href="{{nsUrl}}">{{cleanNs}}</a></li>
            {% else %}
                <hr />
                <li class="active">{{cleanNs}}</li>
                <ul class="classes">
                {% for itemc in tmp.nsInfos.classes %}
                    {% set cleanCls = itemc.name|replace({"\\" : "."}) %}
                    {% set clsUrl = "#{cleanCls|lower}.#{meta.fileExt}" %}
                    {% if tmp.className != itemc.name %}
                        <li{% if itemc.isTrait() %} class="trait"{% elseif itemc.isAbtract() %} class="abstract"{% endif %}><a href="{{clsUrl}}">{{itemc.getShortName()}}</a></li>
                    {% else %}   
                        <hr />
                        <li class="active {% if itemc.isTrait() %} trait {% elseif itemc.isAbstract() %} abstract{% endif %}"><a href="{{clsUrl}}">{{itemc.getShortName()}}</a></li>
                        <ul class="methods">
                        {% for method in itemc.getMethods() %}
                            {% if method.isInherited() == false %}
                            <li {% if method.getName() == tmp.funcName %}class="active"{% endif %}><a href="{{cleanCls|lower}}.{{method.name|lower}}.{{meta.fileExt}}">{{method.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
                <ul class="interfaces">
                {% for itemc in tmp.nsInfos.interfaces %}
                    {% set cleanCls = itemc.name|replace({"\\" : "."}) %}
                    {% set clsUrl = "#{cleanCls|lower}.#{meta.fileExt}" %}
                    <li><a href="{{clsUrl}}">{{itemc.getShortName()}}</a></li>
                {% endfor %}
                </ul>
                <hr />
            {% endif %}
            
    {% endfor %}
    </ul>
{% endblock %}


{% block content %}
    {% set classMeta = tmp.classInfos.getMetaData() %}
    {% set funcMeta = tmp.funcInfos.getMetaData() %}
    {% set extendedClass = tmp.classInfos.getInherits() %}
    {% set impInterfaces = tmp.classInfos.getInterfaceNames() %}
    {% set ctAncest = tmp.ancestors|length %}
    {% if tmp.ancestors|length > 1 %}
        {% set ct = 0 %}
        {% set ml = 0 %}
        <ul class="tree class-ancestors">
            {% for ancestName,ancestObj in tmp.ancestors %}
                {% if(ct+1 == ctAncest) %}
                    <li style="margin-left:{{ml}}px"><b>{{ancestObj.getShortName()}}</b></li>
                {% else %}
                    <li style="margin-left:{{ml}}px"><a href="{{ancestObj.getDocFileName()}}">{{ancestObj.getShortName()}}</a></li>
                {% endif %}
                {% set ct = ct + 1 %}
                {% if ct > 1 %}
                    {% set ml = ml + 13 %}
                {% endif %}
            {% endfor %}
        </ul>  
    {% endif %}
    <h1><span class="func-class-prefix">{{tmp.className|showClassHtmlHead}}{% if tmp.funcInfos.isStatic() %}::{% else %}->{%endif%}</span>{{tmp.funcName}}()
        {% if extendedClass or impInterfaces|length %}
        <div class="extends">
        {% endif %}
        {% if extendedClass %}
            {% set cleanExtCls = extendedClass.name|replace({"\\" : "." }) %}
            {% set cleanExtClsUrl = "#{cleanExtCls|lower}" %}
                        <span class="modifier">extends</span> <a href="{{cleanExtClsUrl}}.{{meta.fileExt}}">{{extendedClass.getShortName()}}</a>
        {% endif %}
        {% if impInterfaces|length %}
            {% set counterItf = 0 %}
            <span class="modifier">implements</span>
            {% for itf in impInterfaces %}
                {% set counterItf = counterItf + 1 %}
                {% set cleanItf = itf|replace({"\\" : "." }) %}
                {% set iftSimple = cleanItf|split(".") %}
                {% set cleanItfUrl = "#{cleanItf|lower}.#{meta.fileExt}" %}
                <a href="{{cleanItfUrl}}">{{iftSimple[iftSimple|length-1]}}</a>
                {% if counterItf < impInterfaces|length %}, {% endif %}
            {% endfor %}
            {{ impArray|join(',') }}
        {% endif %}
        {% if extendedClass or impInterfaces|length %}
            </div>
        {% endif %}
    </h1>
    
    <h2>Description</h2>
    <div class="long-description">{{tmp.funcInfos.getLongDescription()|raw}}</div>

    <div class="funcsynopsis">
        <span class="modifier">{{tmp.funcInfos.getReturnTypeHTML()|raw}}</span>&nbsp;<strong>{{tmp.funcInfos.getShortName()}}</strong>&nbsp;({{tmp.funcInfos.getParametersAsString()|raw}})
    </div>

    {% if tmp.funcInfos.getNumberOfParameters() %}
        <h2>Parameters</h2>
        <dl class="parameters">
        {% for paramName,paramObj in tmp.funcInfos.getParametersForDocumentation() %}
            <dt class="variable">${{paramName}} <span class="modifier modifier-small">{{paramObj.type|raw}}</span></dt>
            <dd>{{paramObj.description|raw}}</dd>
        {% endfor %}
        </dl>
    {% endif %}

    {% if tmp.funcInfos.hasReturnValueDocumented() %}
        <h2>Return Values</h2>
        <dl class="parameters">
            <dt><span class="modifier">{{tmp.funcInfos.getReturnTypeHTML()|raw}}</span></dt>
            <dd>{{tmp.funcInfos.getMetaData('return').description|raw}}</dd>
        </dl>
    {% endif %}

    {% if tmp.funcInfos.getMetaData('see') %}
        <h2>See also</h2>
        <ul class="see">
        {% for item in tmp.funcInfos.getSees() %}
            <li><a href="{{item.link}}">{{item.label|raw}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if tmp.funcInfos.getMetaData('changelog') %}
        <h2>Changelog</h2>
        <table class="changelog">
        {% set changes = tmp.funcInfos.getChanges() %}
        {% for change in changes %}
            <tr>
                <th>{{change.version}}</th>
                <td>{{change.description}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if meta.options['show-methods-source'] %}

        <h2>Source Code</h2>
        <pre class="brush: php; first-line:{{tmp.funcInfos.getStartLine()}}">{{tmp.funcInfos.getSourceCode()|raw}}</pre>

        <br />
        All
        <pre class="brush: php; highlight:{{tmp.funcInfos.getHighlightedLines()|json_encode}}}">{{tmp.funcInfos.getSourceCode(true)|raw}}</pre>

        <script type="text/javascript">
             SyntaxHighlighter.all();
        </script>

    {% endif %}
  
{% endblock %}