{% extends "base.html.twig" %}

{% block content %}
    <h1><span class="class-ns">Namespace</span>{{tmp.ns}}</h1>
    <div>
        {% if tmp.nsInfos.interfaces|length %}
            <h2>Interfaces</h2>
            <ul class="interfaces">
            {% for item in tmp.nsInfos.interfaces %}
                <li><a href="{{item.getDocFilename(tmp.baseHref)}}" title="{{item.name}}" class="interface-link">{{item.getShortName()}}</a>
                {% if item.getShortDescription()|raw != '' %}
                    - {{item.getShortDescription()|raw}}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% set classCounter = 0 %}
    {% for item in tmp.nsInfos.classes %}
        {% if item.isTrait() != true %}
            {% set classCounter = classCounter+1 %}
        {% endif %}
    {% endfor %}
    <div>
        {% if classCounter > 0 %}
            <h2>Classes</h2>
            <ul class="classes">
            {% for item in tmp.nsInfos.classes %}
                {% if item.isTrait() == false %}
                    <li{% if item.isTrait() %} class="trait"{% elseif item.isAbstract() %} class="abstract"{% endif %}><a title="{{item.name}}" class="class-link" href="{{item.getDocFilename(tmp.baseHref)}}">{{item.getShortName()}}</a>
                        {% if item.getShortDescription()|raw != '' %}
                            - {{item.getShortDescription()|raw}}
                        {% endif %}
                            </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if tmp.nsInfos.hasTraits %}
    <div>
        <h2>Traits</h2>
        <ul class="classes">
        {% for item in tmp.nsInfos.classes %}
            {% if item.isTrait() %}
                <li class="trait"><a title="{{item.name}}" href="{{item.getDocFilename(tmp.baseHref)}}" class="trait-link">{{item.getShortName()}}</a>
                    {% if item.getShortDescription()|raw != '' %}
                        - {{item.getShortDescription()|raw}}
                    {% endif %}
                    </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}