<ul class="namespaces">
    {% for ns, nsInfos in namespaces %}
        {% if ns != 'global' or options["document-global-ns"] == true %}
            {% if tmp.ns != nsInfos.nsObject.getName() %}
                <li><a href="{{nsInfos.nsObject.getDocFilename(tmp.baseHref)}}">{{nsInfos.nsObject.getDottedName()}}</a></li>
            {% else %}
                <hr />
                <li class="active">{{nsInfos.nsObject.getDottedName()}}</li>
                <ul class="classes">
                    {% for itemc in tmp.nsInfos.classes %}
                        {% if tmp.className != itemc.name %}
                            <li{% if itemc.isTrait() %} class="trait"{% elseif itemc.isAbtract() %} class="abstract"{% endif %}><a href="{{itemc.getDocFilename(tmp.baseHref)}}">{{itemc.getShortName()}}</a></li>
                        {% else %}
                            <hr />
                            <li class="active {% if itemc.isTrait() %} trait {% elseif itemc.isAbstract() %} abstract{% endif %}"><a href="{{itemc.getDocFilename(tmp.baseHref)}}">{{itemc.getShortName()}}</a></li>
                            <ul class="methods">
                                {% for method in itemc.getMethods() %}
                                    {% if (method.isInherited() == false
                                        and (meta.options["show-protected-members"] == true or method.isProtected() == false)
                                        and (meta.options["show-private-members"] == true or method.isPrivate() == false)
                                    )%}
                                        <li {% if method.getName() == tmp.funcName and tmp.pageType == 'function' %}class="active"{% endif %}><a href="{{method.getDocFilename(tmp.baseHref)}}">{{method.name}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="interfaces">
                    {% for itemc in tmp.nsInfos.interfaces %}
                        <li><a href="{{itemc.getDocFilename(tmp.baseHref)}}">{{itemc.getShortName()}}</a></li>
                    {% endfor %}
                </ul>
                <hr />
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>