<ul class="namespaces">
    {% for item in namespaces %}
        {% set cleanNs = item|replace({"\\" : "."}) %}
        {% if tmp.ns != item %}
            <li><a href="{{doclink(item)}}">{{cleanNs}}</a></li>
        {% else %}
            <hr />
            <li class="active">{{cleanNs}}</li>
            <ul class="classes">
                {% for itemc in tmp.nsInfos.classes %}
                    {% if tmp.className != itemc.name %}
                        <li{% if itemc.isTrait() %} class="trait"{% elseif itemc.isAbtract() %} class="abstract"{% endif %}><a href="{{doclink(itemc)}}">{{itemc.getShortName()}}</a></li>
                    {% else %}
                        <hr />
                        <li class="active {% if itemc.isTrait() %} trait {% elseif itemc.isAbstract() %} abstract{% endif %}"><a href="{{doclink(itemc)}}">{{itemc.getShortName()}}</a></li>
                        <ul class="methods">
                            {% for method in itemc.getMethods() %}
                                {% if method.isInherited() == false %}
                                    <li {% if method.getName() == tmp.funcName %}class="active"{% endif %}><a href="{{doclink(method)}}">{{method.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="interfaces">
                {% for itemc in tmp.nsInfos.interfaces %}
                    <li><a href="{{doclink(itemc)}}">{{itemc.getShortName()}}</a></li>
                {% endfor %}
            </ul>
            <hr />
        {% endif %}
    {% endfor %}
</ul>